/* General Styles light mode*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}


/* Main Section */
.main, .about-container {
    padding: 70px;
    text-align: center;
}

.about-container h1, .main h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.feature-card {
    background: #fff;
    box-shadow: 0 4px 10px #ccc;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Video Section */
.video-container {
    margin: 40px 0;
    text-align: center;
}

video {
    max-width: 80%;
    border-radius: 10px;
}


/* Dark mode style */
/* Dark mode */
.dark-mode {
    background: #121212;
    color: #fff;
}

.dark-mode .navbar {
    background: #333;
    box-shadow: none;
}

.dark-mode .navbar a {
    color: #f1f1f1;
}

.dark-mode .feature-card {
    background: #1c1c1c;
    color: #fff;
    box-shadow: 0 4px 10px #555;
}


