<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Audiscribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='starter.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Include starter Section -->
{% include 'starter.html' %}

<!-- Include about Section -->
{% include 'about.html' %}


</body>
</html>
